body{
    width: 175.6mm;
    height:1230.7mm;
    margin-left:auto;
    margin-right:auto;
    background-color:lightblue;
    font-family: 'Times New Roman', Times, serif;
}
section{
    background-color:rgb(255, 255, 253);
}
.hili{
    background-color: bisque;
}
h3{
    background-color: white;
    font-size: 16pt;
    line-height:2.0;/*double space*/
    font-weight: bolder;
    
}
.hideout{
    display: none;
}


h1, h2{
    text-align: center;
}


table{
    width:90%;
    border-collapse: collapse;
    border: 1px solid red;
    font-size: x-small;
}
table, thead, th, td{
    border: 1px solid black;

    margin: auto;/*** element alignment ***/

    text-align: left;
}
th{
    background-color: lightgray;
}
figure{
    width: 90%;
    text-align: center;
    align-self: center;
}

/**** line space 1.6 ********/
xdiv, xp{
    line-height:1.0;
}
section, div, p, a, span{
    font-family:'Times New Roman', Times, serif;
}


img{
    width:70%
}


#toc, #ListOfFiguresx, #ListOfTablesx{
    width: 80%;
    font-size:110%;
    margin: auto;
    padding: 10px 10px 10px 10px;
}
#tocxxx p{
    line-height:0.2;
}
div[toc_sub_chapter]{
    /*margin-left: 0.5in;*/
    text-indent: 0.5in;
    font-size: 12pt;
    font-family: 'Times New Roman', Times, serif;
}
a[href]{
    text-decoration: none;
}
a[PageNum], a[PostChapterPageNum], a[FigurePageNum],a[TabePageNum]{
    float: right;
}
h3[TableOfContents], h3[Acknowledgements]{
    text-align: center;
}
h3[postchapter]{
    text-align: center;
}
section[coverpage]{
    text-align: center;
    margin: auto;/*** element alignment center ***/
}
h2[thesis_title]{
    margin: auto;/*** element alignment center***/
    text-align: center;
    width:500px;
}
section[coverpage] p{
    size:150%;
    text-align: center;
    margin: auto;/*** element alignment center ***/
    width:60%;
}
div[subpagesize]{
    font-size: 13pt;
    line-height:1.0;/*double space*/
    font-family:'Times New Roman', Times, serif;
    font-weight: bolder;
    
}
div[doublespaceonly]{
    line-height:1.0;/*double space*/
    font-family:'Times New Roman', Times, serif;
}


h3[id="EndNotes"]{
    text-align: center;
    margin-bottom: 48px;
}
#Bibliograph{
    margin-left: 10px;
    text-indent: -50px;
}

div[type="bibliography_item"]{
    margin-left: 50px;
    padding-left: -50px;
    background-color: white;

}
p[type="my_ul"], div[type="my_ul"]{
    margin-left: 50px;
    width: 400px;
}
div[type="my_ul"]{
    margin-left: 100px;
    width: 400px;
}
div[my_li='1']{
    text-indent: -21px;
}
a[type='toc_item']{
    width:100px;
    background-color: whitesmoke;
}

div[li] {
    text-indent: -0.2in;
    line-height: 1;
    font-size: 12pt;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

div[p]{
    text-indent: 0.5in;/*Turibian requirement*/
    line-height:1.5;/*double space*/
    font-family:'Times New Roman', Times, serif;
    font: 'Times New Roman', Times, serif;
    font-size: 12pt;
}
div[btitle]{
    font-weight: bold;
}
sup{
    background-color: yellow;
}
sup a[endnote]{
    text-decoration: none;
}


@media print 
{
   @page
   {
    size: 8.5in 5.5in;
    size: portrait;
  }
}
@media print 
{
    pre, blockquote {page-break-inside: avoid;}

    h3, span[page_break_before]{
        page-break-before: always;
    }
    
}

.ruler{
    position: absolute;
    right:10px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}



xxb[chnzi=zison]{
    background-color: lightgray;
}